# Variable and Operator

**[Slide No.- 19]**

1. Which one of the following is correct way of declaring and initialising a variable, x with value 5?

A. int x
  
    x=5

B. int x=5

C. x=5

D. declare x=5

In [2]:
x=5
print(x)

5

**[Slide No.-19]**

2. Which of the following is not valid variable name in Python?

A. _var = 6

B. var_name = 6

C. var11 = 6

D. 11var = 6

In [3]:

11var = 6 option D

SyntaxError: ignored

**[Slide No.- 19]**


3. Which of the following will give error?

A. a=b=c=1

B. a,b,c=1

C. a b c=1, 4, 1.5

D. None of the above

In [14]:
a,b,c=1
print(a,b,c)

TypeError: ignored

In [15]:
a b c=1, 4, 1.5
print(a b c)

SyntaxError: ignored

**[Slide No.- 21]**

4. What is the output of the following code

x = 6

y = 2

a=print(x ** y)

b= print(x // y)

In [17]:
print(6//2)

print(6**2)

3
36

3
36

**[Slide No.-21]**

# find the value of this expression (v+w) * x/ y
v = 4

w = 5

x = 8


y = 2

z = 0

In [18]:

(4+5)*8/2

36.0

**[Slide No.- 21]**

6. What is the output of print(10 - 4 * 2)

In [19]:

print(10-4*2)

2

**[Slide No.-21]**

7. What is the output of print(2 * 3 ** 3 * 4)

In [21]:

print(2 * 3 ** 3 * 4)

216

8. What is the output of the expression  print(-18 // 4)

In [24]:

print(-18 // 4)

-5

**[Slide No.- 21]**

9. Write a program to check 5 is less then 10 or greater then 3.

In [25]:

if 5<10 or 5>3:
  print('5 is less then 10 or greater then 3')
else:
  print("wrong ourput")

5 is less then 10 or greater then 3

10 . Write a program  by using 'and' ,'or' And 'not' operator ?

In [26]:
print(((3>2) or (1<9)) and (2!=3))

True

**[Slide No.- 27]**

11. What is the output of the following assignment operator

y = 10

y += 2

print(y)

In [27]:
y = 10

y += 2

print(y)

12

**[Slide No.-27]**

12. What is the output of the code .

x=5

x +=x+4

print(x)

In [28]:
x=5

x +=x+4

print(x)

14

**[Slide No.-27]**

13.  what is the output :

y=7

x  +=y+4

print(x)

In [33]:
y=7

x=5
x +=y+4

print(x)

16